{% extends "main/base.html" %}

{%  block title %}Выход{% endblock %}
{%  block LinkViewMain %}white{% endblock %}
{%  block LinkViewProduct %}white{% endblock %}
{%  block LinkView3 %}white{% endblock %}
{%  block LinkViewReviews %}white{% endblock %}
{%  block LinkViewAbout %}white{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-success text-center" role="alert">
        <h2> <strong> Вы успешно вышли из своего аккаунта! </strong></h2>
    </div>

</div>
{% endblock content %}
