{% extends "base.html" %}

{% block title %}Интернет-магазин телефонов: комментарии{% endblock %}
{%  block LinkViewMain %}white{% endblock %}
{%  block LinkViewProduct %}white{% endblock %}
{%  block LinkView3 %}white{% endblock %}
{%  block LinkViewReviews %}secondary{% endblock %}
{%  block LinkViewAbout %}white{% endblock %}

{% block content %}

<style>

</style>
<div class="container-xl mt-2">
    <div class="col-6 bg-dark">
        <p>123</p>
    </div>
    <div class="col-6 bg-white">
        <p>321</p>
    </div>

</div>

{% endblock  %}