{% extends "base.html" %}

{% block title %}Интернет-магазин телефонов: комментарии{% endblock %}
{%  block LinkViewMain %}white{% endblock %}
{%  block LinkViewProduct %}white{% endblock %}
{%  block LinkView3 %}white{% endblock %}
{%  block LinkViewReviews %}secondary{% endblock %}
{%  block LinkViewAbout %}white{% endblock %}

{% block content %}

<style>
.review{
    width: 630px;
    height: 130px;
    background-color: thistle;
    padding-top: 5px;
    padding-left: 5px;  
}

.info{
    width: 100px;
    height: 120px;
    background-color:none;
    float: left;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family:'Courier New', Courier, monospace;
    
}
.info h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 0.07em;
}
.info h7{
    font-size: 14px;
}
.line{
    height: 120px;
    width: 1px;
    background-color: rgba(83, 82, 82, 0.548);
    float:left;
    margin-left: 10px;
}

.commentText{
    width: 500px;
    height: 120px;
    background-color: none;
    float: right;
    margin-right: 5px;
    
}
.commentText p{
    margin: 15px;
}

.formcomment{
    height: 715px;
    border-radius: 25px;
    color:white;
}
.ts{
    font-size: 30px;
}
.ms{
    max-height: 300px;
}

</style>

<style>
.rating-area {
	overflow: hidden;
	width: 265px;
	margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}</style>

<style>
/* From cssbuttons.io by @westitan */
button {
 position: relative;
 padding: 19px 36px;
 display: block;
 text-decoration: none;
 text-transform: uppercase;
 overflow: hidden;
 border-radius: 40px;
 border: none;
}

button span {
 position: relative;
 color: #fff;
 font-family: Arial;
 letter-spacing: 8px;
 z-index: 1;
}

button .liquid {
 position: absolute;
 top: -80px;
 left: 0;
 width: 100%;
 height: 200px;
 background: #fff349;
 box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
 transition: .5s;
}

button .liquid::after,
button .liquid::before {
 content: '';
 width: 200%;
 height: 200%;
 position: absolute;
 top: 0;
 left: 50%;
 transform: translate(-50%, -75%);
 background: #fff;
}

button .liquid::before {
 border-radius: 45%;
 background: rgba(20, 20, 20, 1);
 animation: animate 5s linear infinite;
}

button .liquid::after {
 border-radius: 40%;
 background: rgba(20, 20, 20, .5);
 animation: animate 10s linear infinite;
}

button:hover .liquid {
 top: -120px;
}

@keyframes animate {
 0% {
  transform: translate(-50%, -75%) rotate(0deg);
 }

 100% {
  transform: translate(-50%, -75%) rotate(360deg);
 }
}

.rating-result {
	width: 80px;
    height: 30px;
	margin: 0 auto;
}
.rating-result span {
	padding: 0;
	font-size: 15px;
	margin: 0 -3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}

</style>

<div class="container mt-2">
    <div class="row mb-3">
        <div class="col-6 themed-grid-col">

            <div class="review mb-3 shadow bg-body rounded" >
                <div class="info pt-3"> 
                    <h5>Dmitriy</h5>
                    <h7>11.11.2019</h7>
                    <div class="rating-result">
                        <span class="active"></span>	
                        <span class="active"></span>    
                        <span class="active"></span>  
                        <span class="active"></span>    
                        <span class="active"></span>
                    </div>
                </div>
                <div class="line"></div>
                <div class="commentText">
                    <p class="">Крутой магазин всем рекомендую преобрести iPhone. Это лучший телефон в мире! </p>
                </div>
            </div>
            
        </div>
        <div class="col-6 themed-grid-col mb-3 formcomment bg-dark">
            <form method="post">
                {% csrf_token %}
                <h2 class="text-center mt-3"> Добавьте комментарий</h2>
                <div class="input-group input-group-lg mt-5">
                    <span class="badge bg-secondary ts bg-warning" id="inputGroup-sizing-lg">Имя</span>
                    <input type="text" name="Name" class="form-control"  required placeholder="Your name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
                <div class="input-group input-group-lg mt-5">
                    <span class="badge bg-secondary ts bg-warning" id="inputGroup-sizing-lg">Комментарий</span>
                    <textarea class="form-control ms" name="Comment" required placeholder="Leave a comment here" id="floatingTextarea" minlength="10px" maxlength="300px"></textarea>
                </div>
                <div class="input-group input-group-lg mt-5">
                    <span class="badge bg-secondary ts bg-warning" id="inputGroup-sizing-lg">Оценка</span>
                    <div class="rating-area mt-2">
                        <input type="radio" id="star-5" name="rating" value="5">
                        <label for="star-5" title="Оценка «5»"></label>	
                        <input type="radio" id="star-4" name="rating" value="4">
                        <label for="star-4" title="Оценка «4»"></label>    
                        <input type="radio" id="star-3" name="rating" value="3">
                        <label for="star-3" title="Оценка «3»"></label>  
                        <input type="radio" id="star-2" name="rating" value="2">
                        <label for="star-2" title="Оценка «2»"></label>    
                        <input type="radio" id="star-1" name="rating" value="1">
                        <label for="star-1" title="Оценка «1»"></label>
                    </div>
                </div>

                <button class="mt-5 mx-auto" type="submit">
                    <span>Отправить</span>
                    <div class="liquid"></div>
                </button>
            </form>
        </div>
      </div>

</div>


{% endblock  %}