{% extends "base.html"%}

{% block title %}Интернет-магазин телефонов{% endblock %}
{%  block LinkViewMain %}white{% endblock %}
{%  block LinkViewProduct %}secondary{% endblock %}
{%  block LinkView3 %}white{% endblock %}
{%  block LinkViewReviews %}white{% endblock %}
{%  block LinkViewAbout %}white{% endblock %}

{% block content %}
<style>

.wrapper {
  background-color: white;
  height: 700px;
  width: 950px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {

  float: left;
  height: 650;
  width: 600px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 650px;
  width: 350px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {

}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  max-height: 450px;
  max-width: 250px;
  margin: 0 0 0 38px;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 320px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
}

.product-price-btn button:hover {
  background-color: #798ab0;
}
body{
    background-color: #040c18;
}
.mgtop{
    padding-top: 15px;
}

</style>

<div class="wrapper">
    <div class="product-img mt-4">
      <img src="https://filearchive.cnews.ru/img/news/2022/01/21/2080452.jpg" height="650" width="600">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{name}}</h1>
        <h2>iPhone. Просто. Нереально.</h2>
        <p>{{ description }}</p>
      </div>
      <div class="product-price-btn">
        <p class="mgtop"><span class="bg-warning">{{ cost }$</span></p>
        <button type="button" class="btn btn-dark">Купить</button>
      </div>
    </div>
  </div>

{% endblock %}